name: Releaser

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]


jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: seheon99/build-and-deploy@v1
        with:
          service-name: vocabulary-workshop
          registry: ghcr.io/${{ github.repository }}
          dry-run: ${{ github.event_name == 'pull_request' }}
          ssh-host: ${{ secrets.SSH_HOST }}
          ssh-user: ${{ secrets.SSH_USER }}
          ssh-key: ${{ secrets.SSH_KEY }}
          ssh-port: ${{ secrets.SSH_PORT || 22 }}
